n8n-order-confirmation.json
{
  "name": "BeatDrop Order Confirmation",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-confirmation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Customer Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json || {};\nconst orderItems = Array.isArray(data.items) ? data.items : [];\nconst rows = orderItems.map(item => `<tr><td>${item.nombre || item.titulo || ''}</td><td>${item.cantidad || 0}</td><td>$${parseFloat(item.precio || 0).toFixed(2)}</td></tr>`).join('');\nconst html = `<p>Hola ${data.nombre || 'cliente'},</p><p>Gracias por tu compra. Aquí tienes el resumen de tu pedido:</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;\"><thead><tr><th>Producto</th><th>Cantidad</th><th>Precio</th></tr></thead><tbody>${rows}</tbody></table><p><strong>Total: $${parseFloat(data.total || 0).toFixed(2)}</strong></p><p>Dirección: ${data.direccion || 'No disponible'}</p><p>Gracias por comprar en BeatDrop.</p>`;\nconst adminHtml = `<p>Nuevo pedido recibido:</p><p><strong>Cliente:</strong> ${data.nombre || 'Cliente'} &lt;${data.email || 'sin-email'}&gt;</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;\"><thead><tr><th>Producto</th><th>Cantidad</th><th>Precio</th></tr></thead><tbody>${rows}</tbody></table><p><strong>Total:</strong> $${parseFloat(data.total || 0).toFixed(2)}</p>`;\nreturn [{ json: { ...data, html, adminHtml, subjectCustomer: 'Compra confirmada - BeatDrop', subjectAdmin: 'Nuevo pedido en BeatDrop', customerEmail: data.email, adminEmail: data.adminEmail || 'beatdroptfg@gmail.com', textCustomer: `Gracias por tu pedido. Total: $${parseFloat(data.total || 0).toFixed(2)}`, textAdmin: `Nuevo pedido de ${data.nombre || 'Cliente'} - Total $${parseFloat(data.total || 0).toFixed(2)}` } }];"
      },
      "id": "2",
      "name": "Build Email Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "{{YOUR_FROM_EMAIL}}",
        "toEmail": "={{$json[\"customerEmail\"]}}",
        "subject": "={{$json[\"subjectCustomer\"]}}",
        "text": "={{$json[\"textCustomer\"]}}",
        "html": "={{$json[\"html\"]}}"
      },
      "id": "3",
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.smtp",
      "typeVersion": 1,
      "position": [700, 220]
    },
    {
      "parameters": {
        "fromEmail": "{{YOUR_FROM_EMAIL}}",
        "toEmail": "={{$json[\"adminEmail\"]}}",
        "subject": "={{$json[\"subjectAdmin\"]}}",
        "text": "={{$json[\"textAdmin\"]}}",
        "html": "={{$json[\"adminHtml\"]}}"
      },
      "id": "4",
      "name": "Send Admin Email",
      "type": "n8n-nodes-base.smtp",
      "typeVersion": 1,
      "position": [700, 380]
    }
  ],
  "connections": {
    "Customer Order Webhook": {
      "main": [
        [
          {
            "node": "Build Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Data": {
      "main": [
        [
          {
            "node": "Send Customer Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "id": "8f3ecaf3-1e62-4e78-ae45-6991f7d7a420",
  "createdAt": "2026-04-24T00:00:00.000Z",
  "updatedAt": "2026-04-24T00:00:00.000Z"
}
