n8n-order-confirmation-sendgrid.json
{
  "name": "BeatDrop Order Confirmation SendGrid",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-confirmation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Customer Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json || {};\nconst orderItems = Array.isArray(data.items) ? data.items : [];\nconst rows = orderItems.map(item => `<tr><td>${item.nombre || item.titulo || ''}</td><td>${item.cantidad || 0}</td><td>$${parseFloat(item.precio || 0).toFixed(2)}</td></tr>`).join('');\nconst customerHtml = `<p>Hola ${data.nombre || 'cliente'},</p><p>Gracias por tu compra. Aquí tienes el resumen de tu pedido:</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;\"><thead><tr><th>Producto</th><th>Cantidad</th><th>Precio</th></tr></thead><tbody>${rows}</tbody></table><p><strong>Total: $${parseFloat(data.total || 0).toFixed(2)}</strong></p><p>Dirección: ${data.direccion || 'No disponible'}</p><p>Gracias por comprar en BeatDrop.</p>`;\nconst adminHtml = `<p>Nuevo pedido recibido:</p><p><strong>Cliente:</strong> ${data.nombre || 'Cliente'} &lt;${data.email || 'sin-email'}&gt;</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;\"><thead><tr><th>Producto</th><th>Cantidad</th><th>Precio</th></tr></thead><tbody>${rows}</tbody></table><p><strong>Total:</strong> $${parseFloat(data.total || 0).toFixed(2)}</p>`;\nconst customerPayload = {\n  personalizations: [ { to: [ { email: data.email, name: data.nombre || 'Cliente' } ] } ],\n  from: { email: 'beatdroptfg@gmail.com', name: 'BeatDrop' },\n  subject: 'Compra confirmada - BeatDrop',\n  content: [ { type: 'text/html', value: customerHtml } ]\n};\nconst adminPayload = {\n  personalizations: [ { to: [ { email: 'beatdroptfg@gmail.com', name: 'BeatDrop Admin' } ] } ],\n  from: { email: 'beatdroptfg@gmail.com', name: 'BeatDrop' },\n  subject: 'Nuevo pedido en BeatDrop',\n  content: [ { type: 'text/html', value: adminHtml } ]\n};\nreturn [ { json: { customerPayload, adminPayload } } ];"
      },
      "id": "2",
      "name": "Build SendGrid Payloads",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json[\"customerPayload\"]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SENDGRID_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "3",
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 220]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json[\"adminPayload\"]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SENDGRID_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "4",
      "name": "Send Admin Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 380]
    }
  ],
  "connections": {
    "Customer Order Webhook": {
      "main": [
        [
          {
            "node": "Build SendGrid Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SendGrid Payloads": {
      "main": [
        [
          {
            "node": "Send Customer Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "id": "4ee6f30d-580d-4f24-8951-6d2e4c4c1fee",
  "createdAt": "2026-04-24T00:00:00.000Z",
  "updatedAt": "2026-04-24T00:00:00.000Z"
}
